 /* login */
 .input-icon input {
    font-size: 14px;
    color: #333;
    border-radius: 4px;
    height: 50px !important;
    line-height: 50px;
    margin-bottom: 20px;
    text-indent: 50px;
    background-position: 17px center;
    background-repeat: no-repeat;
  }
  
  .el-form-item.is-error .input-icon input {
    margin-bottom: 0;
  }
  
  .input-icon.user input {
    background-image: url('/img/login/user.png');
  }
  
  .input-icon.passwd input {
    background-image: url('/img/login/pass.png');
  }
  
  .input-icon.captcha input {
    background-image: url('/img/login/yzm.png');
  }
  
  .btn-submit {
    width: 100%;
    background-color: #ffac1c;
    border-radius: 4px;
    font-size: 24px;
    color: #ffffff;
    height: 50px;
    margin-top: 10px;
  }
  
  .login-label {
    font-size: 24px;
    margin-bottom: 22px;
  }
  
  .img-captcha {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    vertical-align: middle;
    display: table-cell;
  }
  
  .img-captcha img {
    vertical-align: middle;
    cursor: pointer;
  }
  
  .error-msg {
    padding-top: 10px !important;
  }
  
  .btn-submit:focus {
    outline: none;
    background-color: #ffac1c;
  }

/* welcome */
.welcome{font-size: 30px; text-align: center; margin: 1em;}
section{ width: 80%;margin:0 auto;}
ul.icon-list{padding:10px;}
ul,li{
  list-style:none;
  padding:0;
  margin:0;
  overflow:hidden;
}
.icon-list li i {
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
    color: #8492a6;
}
.icon-list li span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    color: #99a9bf;
}
.icon-list li {
    float: left;
    width: 16.66%;
    text-align: center;
    height: 120px;
    line-height: 120px;
    color: #666;
    font-size: 13px;
    transition: color .15s linear;
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid rgba(132, 146, 166, 0.21);
}