.btns-area{
  padding: 10px;
  margin-bottom: 20px;

  a{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 5px 10px;
  }
} 
.info{
  padding: 0 20px;
  color: red;
}
.edit-model{
  padding: 20px 10px;
  margin: 10px;
  border: 1px dashed #ccc;
}
.season-box{
  width: 780px;
  margin: 0 auto;
}

.season-box .confirm-btn{
  float: right;
}

/* rightFixedPanel 面板菜单样式 */
.right-fx-Panel li{
  color:#666;
  background-color: #fbfbfb;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  margin: 5px;
}

.right-fx-Panel li:hover{
  color:#fff;
  background-color: #adadad;
}