.btns-area{
  padding: 10px;
  margin-bottom: 20px;

  a{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 5px 10px;
  }
} 
.info{
  padding: 0 20px;
  color: red;
}
.edit-model{
  padding: 20px 10px;
  margin: 10px;
  border: 1px dashed #ccc;
}
.season-box{
  width: 780px;
  margin: 0 auto;
}

.season-box .confirm-btn{
  float: right;
}

/* rightFixedPanel 面板菜单样式 */
.right-fx-Panel li{
  color:#666;
  background-color: #fbfbfb;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  margin: 5px;
}

.right-fx-Panel li:hover{
  color:#fff;
  background-color: #adadad;
}

.bt-welcome .welcome{font-size: 30px; text-align: center; margin: 1em;}
section{ width: 80%;margin:0 auto;}
.bt-welcome ul.icon-list{padding:10px;}
.bt-welcome ul,li{
  list-style:none;
  padding:0;
  margin:0;
  overflow:hidden;
}
.bt-welcome span.icon{
  background-color: transparent;
}
.bt-welcome .icon-list li i {
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
    color: #8492a6;
}
.bt-welcome .icon-list li span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    color: #99a9bf;
}
.bt-welcome .icon-list li {
    position: relative;
    float: left;
    width: 16.66%;
    text-align: center;
    height: 120px;
    line-height: 120px;
    color: #666;
    font-size: 13px;
    transition: color .15s linear;
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid rgba(132, 146, 166, 0.21);
}