<el-row>
	<el-col :span="5">
	<div style="background-color:#EEF1F6;height:40px;line-height:40px">
		<i class="el-icon-menu" style="font-size: 24px;color: #C0CCDA;padding-left:60px;"></i>
		<label style="font-size: 24px;color: #C0CCDA;">IA8-UAUTO</label>
	</div>
	</el-col>
	<el-col :span="19">
		<el-menu mode="horizontal" class="menuNav">
			<el-menu-item v-for="(menu,index) in MENULIST" :index="menu.index" class="menuItem" v-text="menu.name" @click="nav(menu)"></el-menu-item>
		</el-menu>
	</el-col>
</el-row>